<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><TotalTime>160</TotalTime><Application>LibreOffice/24.2.2.2$MacOSX_X86_64 LibreOffice_project/d56cc158d8a96260b836f100ef4b4ef25d6f1a01</Application><AppVersion>15.0000</AppVersion><Pages>8</Pages><Words>116</Words><Characters>701</Characters><CharactersWithSpaces>793</CharactersWithSpaces><Paragraphs>34</Paragraphs></Properties>